img{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    background-size: auto;
    background-position: 15px;
}

header{
    text-align: center;
}
body{
    background-image: url(../imagenes/logo-2418159_1280.png);
}



